@use 'sass:list';

$plotery-include-classes: true !default;
$plotery-margin: var(--plotery-margin, 50px) !default;
$plotery-series-colors: (
	var(--plotery-s1-color, #7098e0),
	var(--plotery-s2-color, #8070d0),
	var(--plotery-s3-color, #c070c0),
	var(--plotery-s4-color, #d86868),
	var(--plotery-s5-color, #d0a050),
	var(--plotery-s6-color, #90c860),
	var(--plotery-s7-color, #50c0a0),
	var(--plotery-s8-color, #98a0a8),
) !default;

@import 'axis';
@import 'plot';
@import 'interactions';

@mixin plotery($margin: $plotery-margin) {
	.plotery {
		margin: $margin;

		@include plotery-plot();
		@include plotery-axis();
		@include plotery-interactions();

		@for $i from 0 to list.length($plotery-series-colors) {
			@include plotery-plot-color(
				'.plot:where(:nth-of-type(4n+#{$i + 1}))',
				list.nth($plotery-series-colors, $i + 1)
			);
			@include plotery-plot-element-color(
				'.plot .element:where(:nth-of-type(4n+#{$i + 1}))',
				list.nth($plotery-series-colors, $i + 1)
			);
		}

		@for $i from 0 to list.length($plotery-series-colors) {
			@include plotery-plot-color(
				'.color-#{$i + 1}',
				list.nth($plotery-series-colors, $i + 1)
			);
		}

		> svg {
			width: 100%;
			height: 100%;
		}
	}
}

@if $plotery-include-classes {
	@include plotery();
}
